@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')

header
    width: 1920px
    height: 1080px
    top: 0
    left: 0
    background:
        image: url('../images/bg-header.png')
        repeat: no-repeat
        position: 0% 0%
    opacity: 0.85

    nav
        display: flex
        align-items: center
        justify-content: center
        background:
            color: #363636
            repeat: no-repeat
            position: 0% 0%
        width: 1920px
        height: 109px
        
        .icon
            background:
                repeat: no-repeat
                position: 0% 0%
                size: padding-box
            opacity: 1

        .item
            text-align: left
            font: bold 23px/36px Montserrat
            margin-left: 30px
            letter-spacing: 0.68px
            color: #FFFFFF
            text-transform: uppercase
            opacity: 1

    .card-bg
        position: absolute
        top: 0px
        left: 667px
        width: 586px
        height: 1080px
        background:
            image: linear-gradient(#990000, #660000)
            position: 0% 0% 
        box-shadow: 0px 3px 6px #00000099
        opacity: 0.4
        z-index: -1

    .card-body
        position: absolute
        left: 667px
        padding: 0

        .card-text
            margin-top: 121px
            margin-left: 30px
            margin-bottom: 22px
            left: 697px
            width: 230px
            height: 20px
            text-align: center
            font: bold 15px/18px Open Sans
            text-transform: uppercase
            letter-spacing: 0
            color: #fff

        .card-img
            width: 526px
            height: 754px
            margin-left: 33px
            margin-right: 27px
            img
                top: 163px
                
                width: 526px
                height: 754px
                box-shadow: 0px 3px 6px #00000099
                border-radius: 196px
        
        .card-description
            margin-top: 20px
            margin-left: 157px
            margin-right: 157px
            text-align: center
            font-family: Open Sans, sans-serif
            font-weight: regular
            font-size: 20px/21px
            line-height: 21px
            letter-spacing: 0
            color: #F0F0F2
            text-shadow: 0px 3px 6px #00000029
    
    .pluma1
        position: absolute
        top: 485px
        left: 624px
        width: 130px
        height: 119px
        z-index: 1
    
    .pluma2
        position: absolute
        top: 604px
        left: 689px
        width: 96px
        height: 100px
        z-index: 1
        //transform: matrix(0.96, 0.28, -0.28, 0.96, 0, 0)
    
    .pluma3
        position: absolute
        top: 586px
        left: 1179px
        width: 157px
        height: 155px
        z-index: 1
    
    .pluma4
        position: absolute
        top: 419px
        left: 1089px
        width: 181px
        height: 155px
    

.characters
    width: 1920px
    height: 1147px
    background:
        color: #363636
    
    .card-character
        top: 1379px
        left: 280px
        width: 387px
        height: 613px